body {
  margin: 0;
  font-family: 'Manrope', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #131419 !important;
}

code {
  font-family: 'Manrope', sans-serif !important;
}
